# EXPO_PUBLIC_API_URL=http://192.168.0.105:8000
EXPO_PUBLIC_API_URL=https://koda-heart.onrender.com
EXPO_PUBLIC_SUPABASE_URL=https://ttzulqhtxickctfnndzj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR0enVscWh0eGlja2N0Zm5uZHpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMjM3NzgsImV4cCI6MjA5NTc5OTc3OH0.1g9fBGITzlxPaklGuBvIwXai57-VJmDCM-YvpVQw_hM